/* Reset */
a { text-decoration: none; }
html, body, form, ul, ol, li, blockquote, table, tr, td, p { margin: 0; padding: 0; }
table { border-collapse: collapse; }

/* Spacing */
.mts,.mvs,.mas{margin-top:8px}.mrs,.mhs,.mas{margin-right:8px}.mbs,.mvs,.mas{margin-bottom:8px}.mls,.mhs,.mas{margin-left:8px}.pts,.pvs,.pas,.textarea{padding-top:8px}.prs,.phs,.pas,.pill-button,.white-pill-button{padding-right:8px}.pbs,.pvs,.pas,.textarea{padding-bottom:8px}.pls,.phs,.pas,.pill-button,.white-pill-button,.input{padding-left:8px}.mtm,.mvm,.mam{margin-top:16px}.mrm,.mhm,.mam{margin-right:16px}.mbm,.mvm,.mam{margin-bottom:16px}.mlm,.mhm,.mam{margin-left:16px}.ptm,.pvm,.pam{padding-top:16px}.prm,.phm,.pam,.form-element,.input,.placeholder,.button,.textarea{padding-right:16px}.pbm,.pvm,.pam{padding-bottom:16px}.plm,.phm,.pam,.form-element,.input,.placeholder,.button,.textarea{padding-left:16px}.mtl,.mvl,.mal{margin-top:32px}.mrl,.mhl,.mal{margin-right:32px}.mbl,.mvl,.mal{margin-bottom:32px}.mll,.mhl,.mal{margin-left:32px}.ptl,.pvl,.pal{padding-top:32px}.prl,.phl,.pal{padding-right:32px}.pbl,.pvl,.pal{padding-bottom:32px}.pll,.phl,.pal{padding-left:32px}.mth,.mvh,.mah{margin-top:64px}.mrh,.mhh,.mah{margin-right:64px}.mbh,.mvh,.mah{margin-bottom:64px}.mlh,.mhh,.mah{margin-left:64px}.pth,.pvh,.pah{padding-top:64px}.prh,.phh,.pah{padding-right:64px}.pbh,.pvh,.pah{padding-bottom:64px}.plh,.phh,.pah{padding-left:64px}

/* Layout */

html .abs { position: absolute; }
.fixed { position: fixed; }
.block { display: block; }
.ib { display: inline-block; }
.top { vertical-align: top; }
.mid { vertical-align: middle; }
.top { top: 0; }
.left { left: 0; }
.right { right: 0; }
.bottom { bottom: 0; }
.full-height { height: 100%; }
.full-width { width: 100%; }
.half-width { width: 50%; }
.quarter-width { width: 25%; }
.scroll { overflow-y: auto; }
.centered { margin-left: auto; margin-right: auto; }
.bb { box-sizing: border-box; }

/* Typography */
html, table, .serif { font-family: 'Source Serif Pro', serif; font-size: 16px; line-height: 24px; }
.sans, table { font-size: 14px; font-family: 'Lato', sans-serif; }
#editor.ace_editor, code, .mono { font-family: 'Source Code Pro', monospace; font-size: 90%; }
.b { font-weight: bold; }

.left-align { text-align: left; }
.right-align { text-align: right; }
.center-align { text-align: center; }

.text-xs { font-size: 12px; line-height: 20px; }

.no-list { list-style-type: none; }

/* UI */
.pointer { cursor: pointer; }

/* Buttons */
.button { border: 2px solid #3be; color: #3be; background: #fff; border-radius: 3px; outline: none; }

/* Borders */
.border-bottom { border-bottom: 1px solid; }
.border-left { border-left: 1px solid; }

/* Colors */
a, .blue { color: #3be; }
html { background: #fff; }
html, .black { color: #333; }
.border-gray { border-color: #eee; }


/* Markdown */
h1, h2, h3, h4, h5, h6 { font-weight: 700; }
h1 { font-size: 46px; line-height: 48px; margin: 48px 0 24px; }
h2 { font-size: 36px; line-height: 40px; margin: 48px 0 20px; }
h3 { font-size: 28px; line-height: 36px; margin: 36px 0 18px; }
h4 { font-size: 24px; line-height: 36px; margin: 36px 0 12px; }
h5 { font-size: 18px; line-height: 24px; margin: 24px 0 12px; }
h6 { font-size: 16px; line-height: 24px; margin: 24px 0 12px; }

ul, ol { margin-left: 20px; }

#content code, #content pre { background: #f6f6f6; padding: 0 2px; border-radius: 3px; border: 1px solid #eee; }
#content pre code { border: none; }
#content pre { padding: 8px; overflow: auto; }

p, table { margin: 8px 0; }
hr { border: none; border-top: 1px solid #eee; margin: 24px 0; }
td { border-top: 1px solid #eee; margin: 0; padding: 4px 8px; }
blockquote { border-left: 3px solid #eee; padding-left: 13px; margin: 16px 0; color: #666; }
