<html class="full-height">
  <head>
    <title>{{.Title}}</title>
    <link href="//fonts.googleapis.com/css?family=Lato:400,700|Source+Serif+Pro:700,700italic,400,400italic|Source+Code+Pro" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/tomorrow.css">
  </head>
  <body class="full-height">
    <div id="contentCol" class="top left fixed full-width full-height scroll">
      <div class="pal half-width centered" id="content">
        <h1 class="mts">{{.Title}}</h1>
        <div id="body">
          {{.Html}}
        </div>
      </div>
    </div>
    <div id="navCol" class="top left fixed full-height quarter-width scroll text-xs sans">
      <div class="abs bottom left pam">
        <img src="{{.Gravatar}}" class="ib mid" style="width: 30px; height: 30px; border-radius: 15px; margin-top: 1px" />
        <div class="ib mid pls" style="line-height: 14px">
          <div>{{.User}}</div>
          <a href="{{.LogoutUrl}}">Log out</a>
        </div>
      </div>
      <div class="plm prh mts">
        <input type="text" id="search" class="full-width bb phs input" placeholder="Search" />
        <div id="navList">
          <ul class="mtm mhs no-list">
          {{range .Nav}}
            <li style="margin-left: {{.Depth}}px"><a href="{{.Path}}" class="{{if .Active}}b{{else}}black{{end}}">{{.Title}}</a></li>
          {{end}}
          </ul>
        </div>
      </div>
    </div>
    <div id="editorCol" class="top fixed top right half-width full-height ptl bb border-left border-gray"  style="display: none">
      <pre id="editor" class="block full-height full-width">{{.Text}}</pre>
    </div>
    <div class="fixed top full-width left sans text-xs">
      <div class="mrm phs rel">
        <div class="abs top right mrm mts">
          <a class="phs" href="?history">History</a>
          <button class="phs button pointer" id="edit">Edit</button>
          <button class="phs button pointer" id="cancel" style="display: none">Cancel</button>
          <button class="phs button pointer" id="save" style="display: none">Save</button>
        </div>
      </div>
    </div>
    <script src="/js/ajax.js"></script>
    <script src="/js/marked.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="/js/ace/ace.js"></script>
    <script src="/js/ace/keybinding-vim.js"></script>
    <script src="/js/ace/keybinding-emacs.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
